.friendCard {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  margin: 5% 3%;
  background-image: url("./images/blank.png");
  text-align: center;
}

.friendCard h2 {
  padding: 2% 0 0 0;
  margin: 0 0 12% 0;
  line-height: 1rem;
  font-size: 1.2rem;
}

.deleteButton {
  text-align: right;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.deleteButton:hover {
  cursor: pointer;
}

.deleteButton h3 {
  margin: 5% 3% 0 0;
  line-height: 0.5rem;
  color: rgb(82, 80, 80);
}

.ageCSS {
  padding: 40% 0 0 0;
}
.emailCSS {
  font-size: 1.2rem;
  text-align: left;
}

.updateButton {
  width: 50%;
  background: rgb(133, 133, 226);
  border: none;
  margin: 3% auto;
  padding: 3%;
  text-align: center;
  color: white;
}

.updateButton:hover {
  cursor: pointer;
}
